:root {
  --robotomono: "Roboto Mono", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--robotomono);
}

body {
  background-color: black;
  color: white;
}

nav {
  padding-top: 50px;
  width: 100vw;
}
.nav-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-brand {
  color: red;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.7s ease;
}

.nav-brand:hover {
  color: white;
}

.nav-brand::before {
  content: "ca";
  font-family: var(--robotomono);
  position: absolute;
  font-size: 2em;
  z-index: -1;
  transition: all 0.3s ease;
  transform: translate(15%, -15%);
  opacity: 0;
  color: rgba(0, 0, 255, 0.284);
}

.nav-brand::after {
  content: "ca";
  font-family: var(--robotomono);
  position: absolute;
  font-size: 2em;
  z-index: -1;
  transition: all 0.3s ease;
  transform: translate(-5%, -100%);
  opacity: 0;
  color: rgba(255, 0, 217, 0.279);
}

.nav-brand:hover::before {
  transform: translate(-20%, 3%);
  opacity: 1;
}

.nav-brand:hover::after {
  transform: translate(25%, -110%);

  opacity: 1;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  margin: 10px;
  position: relative;
}

.nav-link a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link a:hover {
  color: red;
}

.nav-link::before {
  content: "";
  transform: translateY(25px);
  width: 0%;
  height: 3px;
  background-color: red;
  z-index: -1;
  position: absolute;
  transition: all 0.3s ease;
}

.nav-link:hover::before {
  width: 100%;
}
